Repository TechDemocrat/fluid-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint src/**/*.scss --fix, prettier --write src/**/*.ts{,x}, eslint src/**/*.ts{,x} --fix --max-warnings 0

.lintstagedrc.json:

{
    "src/**/*.{scss}": ["stylelint src/**/*.scss --fix"],
    "src/**/*.{ts,tsx,scss}": ["prettier --write src/**/*.ts{,x}"],
    "src/**/*.{ts,tsx}": ["eslint src/**/*.ts{,x} --fix --max-warnings 0"]
}

rollup with watch support for development added
  .eslintignore
  .lintstagedrc.json
  package.json
  rollup.config.js
  rollup.config.ts
  src/components/Button/Button.module.scss
  src/components/Button/Button.tsx
  src/components/Button/Button.types.ts
  tsconfig.json
  yarn.lock
Due: prettier --write src/**/*.ts{,x}, eslint src/**/*.ts{,x} --fix --max-warnings 0

linstaged changes
  .lintstagedrc.json
Due: none

added buttom component
  package-lock.json
  package.json
  src/components/Button/Button.module.scss
  src/components/Button/Button.tsx
  src/components/Button/Button.types.ts
  yarn.lock
Due: prettier --write src/**/*.ts{,x}, eslint src/**/*.ts{,x} --fix --max-warnings 0

added link component
  src/components/Link/Link.module.scss
  src/components/Link/Link.stories.tsx
  src/components/Link/Link.tsx
  src/components/Link/Link.types.ts
Due: prettier --write src/**/*.ts{,x}, eslint src/**/*.ts{,x} --fix --max-warnings 0

added IconButton component
  src/components/IconButton/IconButton.module.scss
  src/components/IconButton/IconButton.stories.tsx
  src/components/IconButton/IconButton.tsx
  src/components/IconButton/IconButton.types.ts
Due: prettier --write src/**/*.ts{,x}, eslint src/**/*.ts{,x} --fix --max-warnings 0

default theme colors added and stylelint identation chagned from 2 to 4
  .npmignore
  .stylelintrc.json
  package-lock.json
  src/common/defaultTheme.ts
  src/components/Button/Button.module.scss
  src/components/Button/Button.stories.tsx
  src/components/Button/Button.tsx
  src/components/Button/Button.types.ts
  src/components/IconButton/IconButton.module.scss
  src/components/Link/Link.module.scss
  src/styles/_colors.scss
  src/styles/_mediaQueries.scss
  src/styles/_mixins.scss
  src/styles/_variables.scss
  src/styles/common.module.scss
  src/styles/core.scss
  src/types/theme.ts
  yarn.lock
Due: prettier --write src/**/*.ts{,x}, eslint src/**/*.ts{,x} --fix --max-warnings 0

Theme provider integration done
  .storybook/main.js
  .storybook/preview.js
  src/common/defaultTheme.ts
  src/components/Button/Button.module.scss
  src/components/Button/Button.tsx
  src/components/IconButton/IconButton.module.scss
  src/components/Link/Link.module.scss
  src/components/ThemeProvider/ThemeProvider.tsx
  src/components/ThemeProvider/ThemeProvider.types.ts
  src/styles/_variables.scss
  src/styles/colors.scss
  src/styles/core.scss
  src/styles/fontSizes.scss
  src/styles/fontWeights.scss
  src/styles/mediaQueries.scss
  src/styles/mixins.scss
Due: prettier --write src/**/*.ts{,x}, eslint src/**/*.ts{,x} --fix --max-warnings 0

theme provider consumption sample
  src/components/Button/Button.tsx
Due: prettier --write src/**/*.ts{,x}, eslint src/**/*.ts{,x} --fix --max-warnings 0

iconify packages added
  package.json
  src/utilities/common.ts
  src/utilities/icons/Iconify/ic.ts
  src/utilities/icons/Iconify/index.ts
  src/utilities/icons/Iconify/mdi.ts
  src/utilities/icons/SVGS/DummySVG.tsx
  src/utilities/icons/SVGS/index.tsx
  src/utilities/index.ts
  types/rollup.config.d.ts
  types/src/components/Button/Button.d.ts
  types/src/components/Button/Button.stories.d.ts
  types/src/components/Button/Button.types.d.ts
  types/src/index.d.ts
  yarn.lock
Due: prettier --write src/**/*.ts{,x}, eslint src/**/*.ts{,x} --fix --max-warnings 0

type issue fix
  src/common/defaultTheme.ts
Due: prettier --write src/**/*.ts{,x}, eslint src/**/*.ts{,x} --fix --max-warnings 0

chromatic integration done
  .github/workflows/chromatic.yml
  .storybook/main.js
  package.json
  yarn.lock
Due: none

create component script added
  .eslintignore
  .storybook/main.js
  README.md
  package.json
  scripts/createComponent.js
  src/components/ContentTypeFlag/ContentTypeFlag.module.scss
  src/components/ContentTypeFlag/ContentTypeFlag.stories.tsx
  src/components/ContentTypeFlag/ContentTypeFlag.tsx
  src/components/ContentTypeFlag/ContentTypeFlag.types.ts
  src/components/_TemplateComponent/TemplateComponent.module.scss
  src/components/_TemplateComponent/TemplateComponent.stories.tsx
  src/components/_TemplateComponent/TemplateComponent.tsx
  src/components/_TemplateComponent/TemplateComponent.types.ts
Due: prettier --write src/**/*.ts{,x}, eslint src/**/*.ts{,x} --fix --max-warnings 0

lint staged rc changes
  .lintstagedrc.json
Due: none

github action comments updated
  .github/workflows/chromatic.yml
Due: none

Content status flag added
  src/components/ContentStatusFlag/ContentStatusFlag.module.scss
  src/components/ContentStatusFlag/ContentStatusFlag.stories.tsx
  src/components/ContentStatusFlag/ContentStatusFlag.tsx
  src/components/ContentStatusFlag/ContentStatusFlag.types.ts
Due: prettier --write src/**/*.ts{,x}, eslint src/**/*.ts{,x} --fix --max-warnings 0

chromatic dashboard added
  README.md
Due: none

chromatic build flag added and readme changes
  README.md
Due: none

Button box shadow changes done
  src/components/Button/Button.module.scss
  src/styles/colors.scss
  src/styles/core.scss
Due: prettier --write src/**/*.ts{,x}

review changes done
  src/common/defaultTheme.ts
  src/components/ThemeProvider/ThemeProvider.types.ts
  src/styles/core.scss
Due: prettier --write src/**/*.ts{,x}, eslint src/**/*.ts{,x} --fix --max-warnings 0

Content Type flag component implementation done
  package.json
  src/common/defaultTheme.ts
  src/components/ContentStatusFlag/ContentStatusFlag.module.scss
  src/components/ContentStatusFlag/ContentStatusFlag.stories.tsx
  src/components/ContentStatusFlag/ContentStatusFlag.tsx
  src/components/ContentStatusFlag/ContentStatusFlag.types.ts
  src/components/ContentTypeFlag/ContentTypeFlag.module.scss
  src/components/ContentTypeFlag/ContentTypeFlag.service.ts
  src/components/ContentTypeFlag/ContentTypeFlag.stories.tsx
  src/components/ContentTypeFlag/ContentTypeFlag.tsx
  src/components/ContentTypeFlag/ContentTypeFlag.types.ts
  src/components/ThemeProvider/ThemeProvider.types.ts
  src/components/_TemplateComponent/TemplateComponent.module.scss
  src/components/_TemplateComponent/TemplateComponent.service.ts
  src/components/_TemplateComponent/TemplateComponent.tsx
  src/components/_TemplateComponent/TemplateComponent.types.ts
  src/index.ts
  src/styles/colors.scss
  src/styles/core.scss
  src/styles/fontWeights.scss
  yarn.lock
Due: prettier --write src/**/*.ts{,x}, eslint src/**/*.ts{,x} --fix --max-warnings 0

add created component in index export file support added
  scripts/createComponent.js
  src/components/ContentStatusFlag/ContentStatusFlag.module.scss
  src/components/ContentStatusFlag/ContentStatusFlag.service.ts
  src/components/ContentStatusFlag/ContentStatusFlag.stories.tsx
  src/components/ContentStatusFlag/ContentStatusFlag.tsx
  src/components/ContentStatusFlag/ContentStatusFlag.types.ts
  src/components/_TemplateComponent/TemplateComponent.tsx
  src/index.ts
Due: prettier --write src/**/*.ts{,x}, eslint src/**/*.ts{,x} --fix --max-warnings 0

logs removed
  src/components/ContentTypeFlag/ContentTypeFlag.service.ts
Due: prettier --write src/**/*.ts{,x}, eslint src/**/*.ts{,x} --fix --max-warnings 0

Theme colro css/scss variable naming convention changes
  src/components/ContentTypeFlag/ContentTypeFlag.module.scss
  src/components/IconButton/IconButton.module.scss
  src/components/Link/Link.module.scss
  src/components/ThemeProvider/ThemeProvider.tsx
  src/styles/colors.scss
  src/styles/core.scss
  src/styles/fontSizes.scss
  src/styles/fontWeights.scss
Due: prettier --write src/**/*.ts{,x}, eslint src/**/*.ts{,x} --fix --max-warnings 0

icons folder renaming done
  src/components/ContentTypeFlag/ContentTypeFlag.service.ts
  src/utilities/icons/Iconify/ic.ts
  src/utilities/icons/Iconify/index.ts
  src/utilities/icons/Iconify/mdi.ts
  src/utilities/icons/SVGS/DummySVG.tsx
  src/utilities/icons/SVGS/index.tsx
Due: prettier --write src/**/*.ts{,x}, eslint src/**/*.ts{,x} --fix --max-warnings 0

icons folder renaming done
  src/utilities/icons/iconify/ic.ts
  src/utilities/icons/iconify/index.ts
  src/utilities/icons/iconify/mdi.ts
  src/utilities/icons/svgs/DummySVG.tsx
  src/utilities/icons/svgs/index.tsx
Due: prettier --write src/**/*.ts{,x}, eslint src/**/*.ts{,x} --fix --max-warnings 0

default theme moved to theme provider service
  src/common/defaultTheme.ts
  src/components/ThemeProvider/ThemeProvider.service.ts
  src/components/ThemeProvider/ThemeProvider.tsx
Due: prettier --write src/**/*.ts{,x}, eslint src/**/*.ts{,x} --fix --max-warnings 0

open the created component and place cursor support added with yarn cc script
  scripts/createComponent.js
Due: none

content status flag imlemented and themeprovider context state update issue fix
  src/common/defaultTheme.ts
  src/components/ContentStatusFlag/ContentStatusFlag.module.scss
  src/components/ContentStatusFlag/ContentStatusFlag.service.ts
  src/components/ContentStatusFlag/ContentStatusFlag.tsx
  src/components/ContentStatusFlag/ContentStatusFlag.types.ts
  src/components/ContentTypeFlag/ContentTypeFlag.module.scss
  src/components/ContentTypeFlag/ContentTypeFlag.service.ts
  src/components/ContentTypeFlag/ContentTypeFlag.stories.tsx
  src/components/ContentTypeFlag/ContentTypeFlag.tsx
  src/components/ContentTypeFlag/ContentTypeFlag.types.ts
  src/components/ThemeProvider/ThemeProvider.tsx
Due: prettier --write src/**/*.ts{,x}, eslint src/**/*.ts{,x} --fix --max-warnings 0

horizontal rule is added
  src/components/HorizontalRule/HorizontalRule.module.scss
  src/components/HorizontalRule/HorizontalRule.service.ts
  src/components/HorizontalRule/HorizontalRule.stories.tsx
  src/components/HorizontalRule/HorizontalRule.tsx
  src/components/HorizontalRule/HorizontalRule.types.ts
  src/index.ts
Due: prettier --write src/**/*.ts{,x}, eslint src/**/*.ts{,x} --fix --max-warnings 0

Content thumbnail component implemented
  package.json
  src/common/defaultTheme.ts
  src/components/ContentThumbnail/ContentThumbnail.module.scss
  src/components/ContentThumbnail/ContentThumbnail.service.ts
  src/components/ContentThumbnail/ContentThumbnail.stories.tsx
  src/components/ContentThumbnail/ContentThumbnail.tsx
  src/components/ContentThumbnail/ContentThumbnail.types.ts
  src/components/ContentTypeFlag/ContentTypeFlag.module.scss
  src/components/ThemeProvider/ThemeProvider.service.ts
  src/components/ThemeProvider/ThemeProvider.types.ts
  src/index.ts
  src/styles/colors.scss
  src/styles/core.scss
  src/utilities/common.ts
  yarn.lock
Due: prettier --write src/**/*.ts{,x}, eslint src/**/*.ts{,x} --fix --max-warnings 0

Spinner component added
  src/components/Spinner/Spinner.module.scss
  src/components/Spinner/Spinner.service.ts
  src/components/Spinner/Spinner.stories.tsx
  src/components/Spinner/Spinner.tsx
  src/components/Spinner/Spinner.types.ts
  src/index.ts
Due: prettier --write src/**/*.ts{,x}, eslint src/**/*.ts{,x} --fix --max-warnings 0

Content action group component added
  src/components/ContentActionGroup/ContentActionGroup.module.scss
  src/components/ContentActionGroup/ContentActionGroup.service.ts
  src/components/ContentActionGroup/ContentActionGroup.stories.tsx
  src/components/ContentActionGroup/ContentActionGroup.tsx
  src/components/ContentActionGroup/ContentActionGroup.types.ts
  src/index.ts
  src/utilities/icons/iconify/mdi.ts
Due: prettier --write src/**/*.ts{,x}, eslint src/**/*.ts{,x} --fix --max-warnings 0

Added input component
  src/components/Input/Input.module.scss
  src/components/Input/Input.service.ts
  src/components/Input/Input.stories.tsx
  src/components/Input/Input.tsx
  src/components/Input/Input.types.ts
  src/index.ts
  src/utilities/icons/iconify/mdi.ts
Due: prettier --write src/**/*.ts{,x}, eslint src/**/*.ts{,x} --fix --max-warnings 0

hover effect added
  src/components/Input/Input.module.scss
Due: prettier --write src/**/*.ts{,x}

default placeholder added
  src/components/Input/Input.tsx
Due: prettier --write src/**/*.ts{,x}, eslint src/**/*.ts{,x} --fix --max-warnings 0

TimeFromNow component added - logic moved from common to TimeFromNow service
  src/components/ContentThumbnail/ContentThumbnail.module.scss
  src/components/ContentThumbnail/ContentThumbnail.tsx
  src/components/Spinner/Spinner.tsx
  src/components/TimeFromNow/TimeFromNow.module.scss
  src/components/TimeFromNow/TimeFromNow.service.ts
  src/components/TimeFromNow/TimeFromNow.stories.tsx
  src/components/TimeFromNow/TimeFromNow.tsx
  src/components/TimeFromNow/TimeFromNow.types.ts
  src/index.ts
  src/utilities/common.ts
Due: prettier --write src/**/*.ts{,x}, eslint src/**/*.ts{,x} --fix --max-warnings 0

box shadow removed for outlined button
  src/components/Button/Button.tsx
Due: prettier --write src/**/*.ts{,x}, eslint src/**/*.ts{,x} --fix --max-warnings 0

fluid-ui cli --delete, --rename support added
  README.md
  package.json
  scripts/createComponent.js
  scripts/fui-cli.js
Due: none

Time from now story book props added
  src/components/TimeFromNow/TimeFromNow.stories.tsx
Due: prettier --write src/**/*.ts{,x}, eslint src/**/*.ts{,x} --fix --max-warnings 0

added label on text input if not empty
  src/components/Input/Input.module.scss
Due: prettier --write src/**/*.ts{,x}
