Repository TechDemocrat/fluid-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint src/**/*.scss --fix, cspell src/**/*.scss, eslint src/**/*.ts{,x} --fix --max-warnings 0, prettier --write src/**/*.ts{,x}, cspell src/**/*.ts{,x}, cspell src/**/*.md

feat(circular-proress-with-message): horizontal message support added
  src/components/CircularLoaderWithMessage/CircularLoaderWithMessage.module.scss
  src/components/CircularLoaderWithMessage/CircularLoaderWithMessage.tsx
  src/components/CircularLoaderWithMessage/CircularLoaderWithMessage.types.ts
  src/components/ContentStatusFlag/ContentStatusFlag.module.scss
Due: stylelint src/**/*.scss --fix, cspell src/**/*.scss, eslint src/**/*.ts{,x} --fix --max-warnings 0, prettier --write src/**/*.ts{,x}, cspell src/**/*.ts{,x}

chore(image-uploader): file location prop changed
  src/components/ImageUploader/ImageUploader.stories.tsx
  src/components/ImageUploader/ImageUploader.tsx
  src/components/ImageUploader/ImageUploader.types.ts
Due: eslint src/**/*.ts{,x} --fix --max-warnings 0, prettier --write src/**/*.ts{,x}, cspell src/**/*.ts{,x}

chore(content-uploader): landing page title updated
  src/components/ContentUploader/ContentUploader.tsx
Due: eslint src/**/*.ts{,x} --fix --max-warnings 0, prettier --write src/**/*.ts{,x}, cspell src/**/*.ts{,x}

fix(image-uploader): location reference issue
  src/components/ImageUploader/components/IImageStackNode.tsx
Due: eslint src/**/*.ts{,x} --fix --max-warnings 0, prettier --write src/**/*.ts{,x}, cspell src/**/*.ts{,x}

feat(content-uploader): migrate from local upload logic to upload progress service
  src/components/ContentUploader/ContentUploader.stories.tsx
  src/components/ContentUploader/ContentUploader.tsx
  src/components/ContentUploader/ContentUploader.types.ts
  src/hooks/useUploadProgress.ts
  src/services/UploadService/UploadService.ts
  src/services/UploadService/UploadService.types.ts
Due: eslint src/**/*.ts{,x} --fix --max-warnings 0, prettier --write src/**/*.ts{,x}, cspell src/**/*.ts{,x}

feat(upload-service): improvements
  src/components/ContentUploader/ContentUploader.stories.tsx
  src/components/ContentUploader/ContentUploader.types.ts
  src/services/UploadService/UploadService.ts
  src/services/UploadService/UploadService.types.ts
Due: eslint src/**/*.ts{,x} --fix --max-warnings 0, prettier --write src/**/*.ts{,x}, cspell src/**/*.ts{,x}

feat(upload-service): update done handler added for background server sync
  src/components/ContentUploader/ContentUploader.stories.tsx
  src/components/ImageUploader/ImageUploader.stories.tsx
  src/components/ImageUploader/ImageUploader.tsx
  src/hooks/useUploadProgress.ts
  src/services/UploadService/Upload.Service.ts
  src/services/UploadService/UploadService.types.ts
Due: eslint src/**/*.ts{,x} --fix --max-warnings 0, prettier --write src/**/*.ts{,x}, cspell src/**/*.ts{,x}

fix(content-upload, image-uploader): background on hover effect added
  src/components/ContentUploader/ContentUploader.module.scss
  src/components/ImageUploader/ImageUploader.module.scss
Due: stylelint src/**/*.scss --fix, cspell src/**/*.scss

fix(upload-service, image-uploader): improvements
  src/components/ContentUploader/ContentUploader.stories.tsx
  src/components/ImageUploader/ImageUploader.stories.tsx
  src/components/ImageUploader/ImageUploader.tsx
  src/components/ImageUploader/ImageUploader.types.ts
  src/components/ImageUploader/components/IImageStackNode.tsx
  src/components/ImageUploader/components/ImageUploaderImageStack.tsx
  src/hooks/useUploadProgress.ts
  src/services/UploadService/Upload.Service.ts
  src/services/UploadService/UploadService.types.ts
Due: eslint src/**/*.ts{,x} --fix --max-warnings 0, prettier --write src/**/*.ts{,x}, cspell src/**/*.ts{,x}

fix(image-uploader): preview area object fit property added
  src/components/ImageUploader/ImageUploader.module.scss
Due: stylelint src/**/*.scss --fix, cspell src/**/*.scss

feat(use-elementsize-hook): scrollwidth and scrollheight property exposed
  src/hooks/useElementSize.ts
Due: eslint src/**/*.ts{,x} --fix --max-warnings 0, prettier --write src/**/*.ts{,x}, cspell src/**/*.ts{,x}

feat(content-uploader): progress previewer moved inside component
  src/components/ContentUploader/ContentUploader.stories.tsx
  src/components/ContentUploader/ContentUploader.tsx
  src/components/ContentUploader/ContentUploader.types.ts
Due: eslint src/**/*.ts{,x} --fix --max-warnings 0, prettier --write src/**/*.ts{,x}, cspell src/**/*.ts{,x}

feat(hooks): use-boolean, use-countdown, use-counter, use-interval hooks added
  src/hooks/useBoolean.ts
  src/hooks/useCountDown.ts
  src/hooks/useCounter.ts
  src/hooks/useInterval.ts
Due: eslint src/**/*.ts{,x} --fix --max-warnings 0, prettier --write src/**/*.ts{,x}, cspell src/**/*.ts{,x}

fix(toast): improvements added
  src/components/Toast/Toast.module.scss
  src/components/Toast/Toast.store.ts
  src/components/Toast/Toast.tsx
  src/components/Toast/Toast.types.ts
  src/components/Toast/components/ToastMessage.tsx
Due: stylelint src/**/*.scss --fix, cspell src/**/*.scss, eslint src/**/*.ts{,x} --fix --max-warnings 0, prettier --write src/**/*.ts{,x}, cspell src/**/*.ts{,x}

fix(image-uploader): free up the input file to accept the same input again and again
  src/components/ImageUploader/ImageUploader.tsx
Due: eslint src/**/*.ts{,x} --fix --max-warnings 0, prettier --write src/**/*.ts{,x}, cspell src/**/*.ts{,x}

feat(image-uploader): delete all and view mode edit action added
  src/components/ImageUploader/ImageUploader.tsx
  src/components/ImageUploader/ImageUploader.types.ts
Due: eslint src/**/*.ts{,x} --fix --max-warnings 0, prettier --write src/**/*.ts{,x}, cspell src/**/*.ts{,x}

chore(eslint): allow empty interface rule added
  .eslintrc.json
Due: none

feat(upload-service): root scope strategy added to track batch scoped uploads
  src/components/ContentUploader/ContentUploader.stories.tsx
  src/services/UploadService/Upload.Service.ts
  src/services/UploadService/UploadService.types.ts
Due: eslint src/**/*.ts{,x} --fix --max-warnings 0, prettier --write src/**/*.ts{,x}, cspell src/**/*.ts{,x}

fix(upload-service): scoping stablisation done
  src/services/UploadService/Upload.Service.ts
  src/services/UploadService/UploadService.types.ts
Due: eslint src/**/*.ts{,x} --fix --max-warnings 0, prettier --write src/**/*.ts{,x}, cspell src/**/*.ts{,x}

feat(temp-db): a light wight in-memory db and action storybook added
  package.json
  src/services/TempDB/TempDB.stories.tsx
  src/services/TempDB/TempDB.ts
  src/services/TempDB/TempDB.types.ts
  src/types/common.types.ts
Due: eslint src/**/*.ts{,x} --fix --max-warnings 0, prettier --write src/**/*.ts{,x}, cspell src/**/*.ts{,x}

feat(temp-db): stability fixes and telemetry system added
  rollup.config.js
  src/services/TempDB/TempDB.ts
  src/services/TempDB/TempDB.types.ts
Due: eslint src/**/*.ts{,x} --fix --max-warnings 0, prettier --write src/**/*.ts{,x}, cspell src/**/*.ts{,x}

fix(upload-service): completion flow stabilization patch
  src/services/TempDB/TempDB.ts
  src/services/TempDB/TempDB.types.ts
  src/services/UploadService/Upload.Service.ts
  src/services/UploadService/UploadService.types.ts
Due: eslint src/**/*.ts{,x} --fix --max-warnings 0, prettier --write src/**/*.ts{,x}, cspell src/**/*.ts{,x}

feat(circular-loader-with-message): message type changed from string to ReactNode
  src/components/CircularLoaderWithMessage/CircularLoaderWithMessage.types.ts
Due: eslint src/**/*.ts{,x} --fix --max-warnings 0, prettier --write src/**/*.ts{,x}, cspell src/**/*.ts{,x}

feat(image-uploader): preparing to upload flow added
  src/components/ImageUploader/ImageUploader.module.scss
  src/components/ImageUploader/ImageUploader.tsx
  src/components/ImageUploader/ImageUploader.types.ts
  src/components/ImageUploader/components/ImageUploaderLandingPage.tsx
Due: stylelint src/**/*.scss --fix, cspell src/**/*.scss, eslint src/**/*.ts{,x} --fix --max-warnings 0, prettier --write src/**/*.ts{,x}, cspell src/**/*.ts{,x}

feat(content-uploader): preparing to upload flow added
  src/components/ContentUploader/ContentUploader.tsx
  src/components/ContentUploader/ContentUploader.types.ts
Due: eslint src/**/*.ts{,x} --fix --max-warnings 0, prettier --write src/**/*.ts{,x}, cspell src/**/*.ts{,x}

fix(temp-db): update handlers record merge flow added
  src/services/TempDB/TempDB.ts
Due: eslint src/**/*.ts{,x} --fix --max-warnings 0, prettier --write src/**/*.ts{,x}, cspell src/**/*.ts{,x}

feat(temp-db): findMany return all records with no query sent added
  src/services/TempDB/TempDB.ts
Due: eslint src/**/*.ts{,x} --fix --max-warnings 0, prettier --write src/**/*.ts{,x}, cspell src/**/*.ts{,x}

chore(upload-service): cutomId replaced with uploadId
  src/services/UploadService/Upload.Service.ts
  src/services/UploadService/UploadService.types.ts
Due: eslint src/**/*.ts{,x} --fix --max-warnings 0, prettier --write src/**/*.ts{,x}, cspell src/**/*.ts{,x}

fix(image-uploader): isPreparingToUpload flag misconsumption corrected
  src/components/ImageUploader/ImageUploader.tsx
Due: eslint src/**/*.ts{,x} --fix --max-warnings 0, prettier --write src/**/*.ts{,x}, cspell src/**/*.ts{,x}

feat(upload-service): bulk upload cancel handler added
  src/services/UploadService/Upload.Service.ts
Due: eslint src/**/*.ts{,x} --fix --max-warnings 0, prettier --write src/**/*.ts{,x}, cspell src/**/*.ts{,x}

fix(temp-db): find operation records reference issue
  src/services/TempDB/TempDB.ts
Due: eslint src/**/*.ts{,x} --fix --max-warnings 0, prettier --write src/**/*.ts{,x}, cspell src/**/*.ts{,x}

feat(upload-service): useUploadScopeStatus custom hook and definition added
  src/components/ImageUploader/ImageUploader.tsx
  src/hooks/useUploadProgress.ts
  src/hooks/useUploadScopeStatus.ts
  src/services/UploadService/Upload.Service.ts
  src/services/UploadService/UploadService.types.ts
Due: eslint src/**/*.ts{,x} --fix --max-warnings 0, prettier --write src/**/*.ts{,x}, cspell src/**/*.ts{,x}

feat(description): added description for contents
  src/components/Comments/Comments.types.ts
  src/components/Description/Description.module.scss
  src/components/Description/Description.service.ts
  src/components/Description/Description.stories.tsx
  src/components/Description/Description.tsx
  src/components/Description/Description.types.ts
  src/styles/core.scss
Due: stylelint src/**/*.scss --fix, cspell src/**/*.scss, eslint src/**/*.ts{,x} --fix --max-warnings 0, prettier --write src/**/*.ts{,x}, cspell src/**/*.ts{,x}

feat(scss): anmiation module added - fade in effect
  src/components/ContentThumbnail/ContentThumbnail.module.scss
  src/components/Input/Input.tsx
  src/styles/animation.scss
  src/styles/core.scss
  src/styles/variables.scss
Due: stylelint src/**/*.scss --fix, cspell src/**/*.scss, eslint src/**/*.ts{,x} --fix --max-warnings 0, prettier --write src/**/*.ts{,x}, cspell src/**/*.ts{,x}

chore(common): cv to td migration
  README.md
  package.json
Due: cspell src/**/*.md

chore(common): package org change
  package.json
Due: none

1.0.0
  package.json
Due: none

chore(readme): new chromatic flow added
  README.md
  package.json
  yarn.lock
Due: cspell src/**/*.md

Path conditions:
  stylelint src/**/*.scss --fix: any of: src/**/*.scss
  cspell src/**/*.scss: any of: src/**/*.scss
  eslint src/**/*.ts{,x} --fix --max-warnings 0: any of: src/**/*.{ts,tsx}
  prettier --write src/**/*.ts{,x}: any of: src/**/*.{ts,tsx}
  cspell src/**/*.ts{,x}: any of: src/**/*.{ts,tsx}
  cspell src/**/*.md: any of: **/*.md
